:root {
  --font-color: #ffffff;
  --main-bg-color: #363d66;
  --second-bg-color: #040c40;
  --border-color: #1d2453;
  --cell-bg-color: #c8c8c8;
  --cell-border-color: #969696;
}

* {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
  }

html {
  user-select: none;
  font-family: system-ui, -apple-system, "Segoe UI", sans-serif;
}

h1 {
  font-size: 30px;
}

.layout {
  display: grid;
  width: 100vw;
  height: 100vh;

  grid-template-columns: 0.25fr 1fr 1fr;
  grid-template-rows: 0.25fr 3fr;

  grid-template-areas:
    "aside header header"
    "aside main main"
}

.header {
  grid-area: header;
  background: var(--second-bg-color);
}

.main {
  grid-area: main;
  border-top: solid 10px var(--border-color);
  border-left: solid 10px var(--border-color);
  background: var(--main-bg-color);
}

.aside {
  grid-area: aside;
  flex-direction:column;
  background: var(--second-bg-color);
}

.box {
  color: var(--font-color);
  padding: 2% 4%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
}

.label {
  font-size: 12px;
  margin-top: 6px;
  opacity: 0.9;
}

#puzzle-grid {
  height: 100%;
  aspect-ratio: 1 / 1;
  display: grid;
  border: solid 10px var(--border-color);
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
}

.grid-cell {
  width: 100%;
  height: 100%;
  background-color: var(--cell-bg-color);
  border: 1px solid var(--cell-border-color);
  box-sizing: border-box;  
  cursor: pointer;
}

#top-half-aside {
  position: relative;
  bottom: 10%;
}

#puzzle-list {
  display:list-item;
  list-style-type:none;
  margin-top: 5px;
}

#puzzle-list li button{
  min-width: 100%;
  border-radius: 10px;
  border: solid 2px var(--second-bg-color);
  background-color: var(--main-bg-color);
  color: var(--font-color);
  cursor: pointer; 
}

#puzzle-list li button:hover {
  border: solid 2px var(--font-color);
}

#color-selector {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-top: 10px;
  gap: 5px;
}

#color-selector button {
  border: solid 2px var(--second-bg-color);
  width: 100%;
  aspect-ratio: 1/1;
}

#color-selector button:hover {
  cursor:pointer;
  border-color: var(--font-color);
}